<%- include('../../partials/header') %>

<div class="container" style="padding-bottom: 100px;">
    <% if(orders){ %>
        <div class="col-md-12">
            <h2>Order History</h2>
            <div class="col-md-9">
                <% let id = 0 %>
                <% for(var i = orders.length-1; i >= 0; i--){ %>
                    <% if(id != orders[i].Order_id) { %>
                        <% id = orders[i].Order_id; %>
                        <div class="order-history-item-left" style="padding-top: 50px;">
                            <div class="order-history-name">
                                <%= orders[i].Customer_name %>
                            </div>
                            <div class="order-history-payment">
                                <%= orders[i].Pay_method %>
                            </div>
                            <div style="padding-top: 15px;">
                                Ordered items:
                            </div>
                        </div>

                        <div class="order-history-item-right" style="padding-top: 50px;">
                            <div class="order-history-date">
                                <%= orders[i].Date %>
                            </div>
                            <div class="order-history-type">
                                <%= orders[i].Order_type %>
                            </div>
                            <div class="order-history-type">
                                <%= orders[i].Address %>
                            </div>
                        </div>
                        <div class="checkout-row">
                            <div class="checkout-item checkout-item-qty">
                                <span style="padding: 0 8px;"><strong><%= orders[i].Quantity %></strong></span>
                            </div>
                            <div class="checkout-item checkout-item-name">
                                <strong><%= orders[i].Item_name %></strong>
                            </div>
                        </div>
                    <% } else { %>
                        <div class="checkout-row">
                            <div class="checkout-item checkout-item-qty">
                                <span style="padding: 0 8px;"><strong><%= orders[i].Quantity %></strong></span>
                            </div>
                            <div class="checkout-item checkout-item-name">
                                <strong><%= orders[i].Item_name %></strong>
                            </div>
                        </div>
                    <% } %>
                <% } %>
            </div>
        </div>
    <% } else { %>
        <div class="col-sm-6 col-md-6">
            <h2>No orders have been placed</h2>
        </div>
    <% } %>
</div>


<%- include('../../partials/footer') %>

