<%- include('../partials/header') %>

<div class='container'>
        <% reservations.forEach((reservation) => { %>
            <h3>Guest count: <%= reservation.Guest_count %></h3>
            <h3>Date: <%= reservation.Date %></h3>
            <h3>Customer id: <%= reservation.Cust_id %></h3>
        <% }); %>
    </div>

<%- include('../partials/footer') %>    