<%- include('../partials/header') %>

    <div class='container'> 
            <form>
                <div class = "row">
                    <div class = "form-group col-md-2">
                        <label for="guest_count">Number of guests</label>
                        <input type="text" id="guest_count" class="form-control" placeholder="1">
                    </div>
                    <div class = "form-group col-md-4">
                        <label for="date">Date</label>
                        <input type="datetime-local" id="date" class="form-control" placeholder="Select Date">
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Email address</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Example select</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect2">Example multiple select</label>
                    <select multiple class="form-control" id="exampleFormControlSelect2">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Example textarea</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
            </form>
        <% reservations.forEach((reservation) => { %>
            <h3>Guest count: <%= reservation.Guest_count %></h3>
            <h3>Date: <%= reservation.Date %></h3>
            <h3>Customer id: <%= reservation.Cust_id %></h3>
        <% }); %>
    </div>

<%- include('../partials/footer') %>    